extends ../layouts/sidebar-layout

block header
	include ../includes/header

block sidebar
	div(ng-controller="marketGroupController")
		accordiancontainer(children="data.marketGroupAccordian.children")
		div(ng-repeat="type in data.activeMarketGroupTypes") {{ type.name }}

block main
	div(ng-controller="typeDisplayController")
		

block footer
	include ../includes/footer