extends ../layouts/sidebar-layout

block header
	include ../includes/header

block sidebar
	div(ng-controller="marketGroupController")
		accordiancontainer(children="data.marketGroupAccordian.children")
		div {{ data.activeMarketGroupTypes }}

block main
	div(ng-controller="typeDisplayController")
		

block footer
	include ../includes/footer