extends ../layouts/sidebar-layout

block header
	include ../includes/header

block sidebar
	div(ng-controller="sidebarController")
		accordian(items="data.marketGroups", depth="0")

block main
	div(ng-controller="typeController")
		h1 {{ typeManagerData.activeType.data.typeName }}
		p {{ typeManagerData.activeType.data.description }}
		p {{ typeManagerData.activeType.data.attributes.length }}

block footer
	include ../includes/footer