extends ../layouts/sidebar-layout

block header
	include ../includes/header

block sidebar
	div(ng-controller="marketGroupController").sidebar-container
		.sidebar-left
			accordiancontainer(children="data.marketGroupAccordian.children")
		.sidebar-right
			.sidebar-right
				div(ng-repeat="type in data.activeMarketGroupTypes", ng-click="typeSelect(type.id)").sidebar-selectable {{ type.name }}


block main
	div(ng-controller="typeDisplayController").main-content
		h2 {{ data.activeTypeHolder.activeType.name }} ({{ data.activeTypeHolder.activeType.id }})
		p {{ data.activeTypeHolder.activeType.description }}
		{{ data.activeTypeHolder.activeType.attributes }}

block footer
	include ../includes/footer