extends ../layouts/sidebar-layout

block header
	include ../includes/header

block sidebar
	div(ng-controller="marketGroupController")
		accordian(items="data.marketGroups", depth="0")

block main
	div(ng-controller="typeDisplayController")
		

block footer
	include ../includes/footer